.test {
  font-size: 80px;
  position: relative;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounceOut {
  20% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -100px;
  }
}

:global {
  .selector {
    // global selector stuff ...
  }

  .selector :local {
    animation: yourAnimation 1s ease;
  }
}

@keyframes yourAnimation {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
