@use "./size.scss";

@import "./loading.scss";
@import "./font.scss";

body {
  font-family: "Poppins", "Roboto", sans-serif;
  font-size: size.$font-standard;
  font-weight: 400;
  line-height: normal;
  height: 100vh;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > #root {
  height: 100%;
  width: 100%;
}

body > #toast-root {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  padding: 30px;
}
